.general {
    width: 50vw;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#space {
    height: 10%;
}

.home-container {
    background-color: black;
    color: white;
    height: 100%;
}

.general > h1 {
    margin: 0;
    border-bottom: 1px solid white;
    // font-size: 7vh;
    font-size: 40px;
    margin-top: 5%;
}

  .icon {
    border-radius: 100%;
    width: 64px;
    height: 64px;
    padding: 1px;
    margin: 0 5px;
    transition: box-shadow 0.1s linear;
    &:hover {
      box-shadow: 0 0 1rem 1px white;
      cursor: pointer;
    }
  }

  .icons {
      position: absolute;
      top: 3%;
      right: 5%;
  }

.general > p {
    font-size: 4vh;
}

.general > button {
    height: 10vh;
    width: 25vw;
    font-size: 4vh;
    color: black;
    background-color: #ff7000;
    &:hover {
        background-color: #ffa500;
        cursor: pointer;
    }
    border: none;
    outline: none;
}

.app-info {
    background-color: #ff7000;
    height: 40%;
}

.app-info > div {
    display: flex;
    justify-content: space-between;
    // border: 1px solid green;
    margin-left: 5%;
    margin-right: 5%;
}

.feature-info {
    // border: 1px solid white;
    width: 25%;
    text-align: center;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

.feature-info > p {
    font-size: 20px;
}
