.modal {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    z-index: 1;
    padding: 20px;
    // border: 1px solid #888;
    width: 45vw;
    background-color: white;
    color: black;
    height: 65vh;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.close {
    font-size: 5vh;
    cursor: pointer;
    color: black;
    &:hover {
        color: gray;
    }
    float: right;
}

.session-form {
    color: black;
    text-align: center;
}

.session-form > h1 {
    margin-top: 3%;
}

.session-form > form > input, .session-form > form > button, #button {
    width: 50%;
    height: 6vh;
    margin-bottom: 5%;
    font-size: 3vh;
    padding: 10px;
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid black;
}

input::placeholder {
    color: white;
}

button, .modal-content > p > p {
    cursor: pointer;
}

#button:hover {
    color: black;
    background-color: white;
}

.errors {
    color: red;
}

input[type='date']:before {
    content: attr(placeholder) !important;
    color: white;
    margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
content: "";
}

input[type='number']:before {
    content: attr(placeholder) !important;
    color: white;
    margin-right: 0.5em;
}

input[type="number"]:focus:before,
input[type="number"]:valid:before {
content: "";
}

.session-form-general {
    color: black;
    text-align: center;
}

.session-form-general > h1 {
    margin-top: 3%;
}

.session-form-general > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input {
    width: 50%;
    height: 4vh;
    margin-bottom: 1%;
    font-size: 3vh;
    padding: 10px;
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid black;
}

.height-weight {
    display: flex;
    // border: 2px solid red;
    justify-content: center;
    width: 50%;
    height: 6vh;
    margin-bottom: 1%;
    font-size: 3vh;
    padding: 10px;
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid black;
}

.height-weight > input:first-child {
    // margin-right: 1%;
    border-right: 1px solid white;
}

.height-weight > input {
    background-color: black;
    color: white;
    border: 1px solid black;
    outline: none;
    font-size: 3vh;
    padding: 10px;
    width: 50%;
    padding: 10px;
    text-align: center;
}





