// Place all the styles related to the api/personal_records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.personal-record, .personal-records {
    display: flex;
}

.personal-records {
    justify-content: space-around;
    height: 80vh;
}

.personal-records-container {
    text-align: center;
}

.personal-records-container > h1 {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff7000;
    padding: 10px;
}

.personal-records > div > h2 {
    color: #ff7000;
}

.log-pr-form {
    width: 100%;
}

.log-pr-form > label > input, .log-pr-form > select {
    height: 5vh;
    font-size: 3vh;
}

.log-pr-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.log-pr-form > button {
	border-radius:6px;
    border:1px solid white;
    background-color: black;
    color: white;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
    width: 10%;
    height: 6vh;
    text-decoration:none;
    outline: none;
}
.log-pr-form > button:hover {
    background-color:white;
    color: black;
}

.record-container {
    // background-color: #ff7000;
    padding-left: 10px;
    padding-right: 10px;
    &:hover {
        background-color: #ff7000;
    }
}

.pr-exercise-container {
    overflow: auto;
    // border: 1px solid red;
    height: 85%;
}

.personal-records > div {
    // border: 1px solid white;
    width: 33%;
    border-right: 1px solid white;
}

.personal-record {
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
}

.personal-records > div > h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ff7000;
    margin-right: 20%;
    margin-left: 20%;
    // border: 1px solid lime;
}

.pr-filters {
    display: flex;
    justify-content: space-around;
    // border: 1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

#selected {
  border-bottom: 2px solid #ff7000; 
  color: white;
  text-decoration: none;
  list-style: none;
  letter-spacing: .25em;
  display: inline-block;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

#non-selected  {
  color: white;
  text-decoration: none;
  list-style: none;
  letter-spacing: .25em;
  display: inline-block;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

#non-selected:hover:after {
  width:100%;
  left: 0;
}

#non-selected:after {
  background: none repeat scroll 0 0 rent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #ff7000;
  transition: width 0.2s ease 0s, left 0.5s ease 0s;
  width: 0;
}

.log-pr-form > select {
  font-size: 1rem;
  display: inline-block;
  margin: 3em 2em;
  width: 350px;
  position: relative;
  cursor: pointer;
}
