// Place all the styles related to the api/weight_logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weight-log {
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
    // border: 1px solid red;
    width: 100%;
    &:hover {
        color: black;
        background-color: #ff7000;
        color: white;
    }
}

.weight-logs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // border: 1px solid orange;
    height: 120vh;
    overflow: auto;
}

.weight-log-index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weight-log-index-container > h1 {
    margin-top: 5%;
    background-color: #ff7000;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.changes-since-last-log {
    display: flex;
    justify-content: flex-start;
    // background-color: red;
    width: 100%;
    margin-bottom: 5%;
}

.changes-since-last-log > h3 {
    margin-right: 10%;
}


.changes {
    display: flex;
    // border: 1px solid green;
    width: 70%;
}

.changes > div {
    // border: 1px solid white;
    width: 30%;
    display: flex;
}

.changes > div p:first-child {
    font-size: 3vh;
    margin-right: 10%;
}

.changes > div p:last-child {
    font-size: 5vh;
}

.red {
    color: red;
}

.green {
    color: green;
}

.log-weight-form {
    // border: 1px solid red;
    width: 80%;
}

.log-weight-form > label > input {
    height: 5vh;
    width: 14vw;
    font-size: 3vh;
}

.log-weight-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #ff7000;
    // border: 1px solid #ff7000;
    padding: 10px;
}

.log-weight-form > button {
	border-radius:6px;
    border:1px solid white;
    background-color: black;
    color: white;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
    text-decoration:none;
    outline: none;
}
.log-weight-form > button:hover {
    background-color:white;
    color: black;
}